<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="main-container">
      <h1>Taste of the East</h1>
      <h2>San Francisco's Most Acclaimed Asian Restaurant</h2>


    </div>
    <div class="signup-container">
      <h1>Sign up</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: "signup-btn" %>
    </div>

  </body>
</html>
