<% provide(:title, "Search") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-5"><%= t("search.title") %></h1>  

        <% @results.each do |result| %>  
            <%= result.name %><br>  
        <% end %>
    </div>
  <%= render 'layouts/footer' %>
  </body>
</html>