<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="main-container black-layout">
  <div class="row">

    <div class="col-xl-6 col-md-6">
      asdasd
    </div>

    <div class="col-xl-6 col-md-6">
      <div class="card login-form mt-5">
        <div class="card-body" style="padding: 5% 15%">
          <h3 class="card-title mb-4">Log in</h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>

  </div>
</div>