@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: 'Poppins', sans-serif !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.page-container {
  min-height: 100vh;
  margin-top: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  line-height: 1.7em;
}

#signup-btn {
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  background-color: rgba(165, 36, 33, 1);
  color: rgba(255, 255, 255, 1);
  width: 225px;
  margin-top: 5%;
}
#signup-btn:hover{
  background-color: rgb(140, 31, 28);
}

/* header */

.header {
  background-color: #7d1e17 !important;
  border: none!important;
  .header-item {
    color: #fff!important;
    font-size: 16px;
  }
  .header-item:hover {
    color:#a9965e!important;
  }
}

#logo {
  width: 160px;
  height: 170px;
  background-color: #fcf3d7;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 9999;
}

// .dropdown:hover .dropdown-menu {
//   display: block!important;
// }
/* footer */

footer {
  padding-top: 5px;
  color: #fff;
  background-color: #7d1e17;
  height: 250px;
  padding-top: 70px;
  padding-left: 100px;
  span {
    display: block;
    font-size: 16px;
  }
  span.title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  p {
    padding-top: 25px;
  }
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.login-form {
  width: 65%;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 11px 68px -20px rgba(0,0,0,.75);
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  width: 100% !important;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
    width: 100%;
  }
  background-color: #fff !important;
  display: block !important;
}

.card {
  color: black;

}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
  }
}
