<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="title">ADDRESS</span>
        <span>500 Terry Francois Street</span>
        <span>San Francisco, CA 94158</span>
      </div>
      <div class="col-md-3">
        <span class="title">OPENING HOURS</span>
        <span>Mon - Fri: 11am - 10pm</span>
        <span>Sat - Sun: 11am - 12am</span>
      </div>
      <div class="col-md-3">
        <span class="title">CONTACT</span>
        <span>123-456-7890</span>
        <span>info@mysite.com</span>
      </div>
      <div class="col-md-3">
        <span class="title">FOLLOW</span>
      </div>
    </div>
    <p>©2019 by Umihara. Proudly created with Wix.com</p>
  </div>
</footer>
